# {{ domain_name }} Capabilities

## Communication Capability

The Communication plugin provides the following capabilities:

- Communication management
- Conversation management
- Communication archive
